<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>taskEXpenseApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C9C17BE1EA4C8A900FB7EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9C17D21EA4C8A900FB7EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9C17DD1EA4C8AA00FB7EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
